<!--@if (profile$ | async; as profile) {
  @if (isCurrentUser) {
    <div class="post-input-wrapper">
      @if (profile.avatarUrl) {
        <img class="post-input__avatar" [src]="profile.avatarUrl | imgUrl" alt="">
      } @else {
          <img src="/assets/images/avatar-placeholder.png" alt="">
      }

      <input type="text" class="tt-form-input post-input" placeholder="Напишите что-нибудь...">
      <button class="emoji-btn">
        <svg icon="emoji-btn" class="to-emoji-icon"></svg>
      </button>
      <button type="button" class="btn message-btn">
        <svg icon="message-btn" class="to-message-icon"></svg>
      </button>
    </div>
  }
  <emoji-mart title="Pick your emoji…" emoji="point_up"></emoji-mart>
  <emoji-mart set="google"></emoji-mart>
  <emoji-mart (emojiClick)="addEmoji($event)"></emoji-mart>
  <emoji-mart [style]="{ position: 'absolute', bottom: '20px', right: '20px' }"></emoji-mart>
  <emoji-mart
  [i18n]="{ search: 'Recherche', categories: { search: 'Résultats de recherche', recent: 'Récents' } }"
  ></emoji-mart>
  }-->
  @if (profile$ | async; as profile) {
  @if (isCurrentUser) {
    <div class="post-input-wrapper">
      @if (profile.avatarUrl) {
        <img class="post-input__avatar" [src]="profile.avatarUrl | imgUrl" alt="">
      } @else {
        <img src="/assets/images/avatar-placeholder.png" alt="">
      }

      <!--<input
        type="text"
        class="tt-form-input post-input"
        placeholder="Напишите что-нибудь..."
        [(ngModel)]="postText"
      >-->
      <textarea
        class="tt-form-input post-input"
        placeholder="Напишите что-нибудь..."
        [(ngModel)]="postText"
        rows="1"
        (input)="autoResize($event)"
      ></textarea>
      <button class="emoji-btn" (click)="toggleEmojiPicker()">
        <svg icon="emoji-btn" class="to-emoji-icon"></svg>
      </button>
      <button type="button" class="btn message-btn" (click)="sendPost()">
        <svg icon="message-btn" class="to-message-icon"></svg>
      </button>
    </div>

    @if (showPicker) {
      <div class="emoji-picker-container">
        <emoji-mart
          title="Выберите эмодзи"
          (emojiClick)="addEmoji($event)"
          [style]="{ position: 'absolute', zIndex: 1000 }"
        ></emoji-mart>
      </div>
    }
  }
}
