.profile-card {
  border: 1px solid var(--light-color);
  display: grid;
  grid-template-columns: repeat(2, 1fr) 250px 1fr;
  padding: 32px 24px;
  grid-gap: 32px;
  background: var(--dark-color);
}

.avatar-name {
  display: grid;
  grid-template-columns: 70px 1fr;
  grid-gap: 20px;
}

.profile-card__avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
}

.profile-card__name {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.profile-card__tags {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.subscribe-btn {
  width: 157px;
  height: 44px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.unsubscribe-btn {
  padding: 0;
  margin: 0;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--dark-color);
  border: 1px solid var(--primary-color);
  svg {
    color: var(--primary-color);
  }
}

.subscribe-icon {
  width: 16px;
  height: 16px;
  color: var(--dark-color);
}

.visit-btn {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  padding-left: 5px;
}

.visit-icon {
  width: 16px;
  height: 16px;
  color: var(--dark-color);
}

.profile-card_action-btns {
  display: flex;
  gap: 8px;
}

.message-btn {
  width: 124px;
  height: 44px;
  display: flex;
  align-items: center;
  gap: 8px;
  svg {
    width: 16px;
    height: 16px;
    color: var(--dark-color);
  }
}
