.profile-card {
  border: 1px solid var(--light-color);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 32px 24px;
  grid-gap: 32px;

}

.avatar-name {
  display: grid;
  grid-template-columns: 70px 1fr;
  grid-gap: 20px;
}

.profile-card__avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
}

.profile-card__name {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.profile-card__wrapper {
  display: grid;
  grid-gap: 8px;
}
