<img
src="/assets/svg/small-logo.svg"
alt=""
class="ml16 mb20"
>

<nav>
  <ul class="main-menu-list">
    <li>
      @for (menuItem of menuItems; track $index) {
        <button class="menu-item">
          <svg [icon]="menuItem.icon"></svg>
          <span>{{ menuItem.label }}</span>
          <span></span>
        </button>
      }
    </li>
  </ul>
</nav>

<p class="medium-text mb20">Подписчики</p>
@if (subscribers$ |async) {
  @for (profile of subscribers$ | async; track profile.id) {
  <app-subscriber-card>
    [profile]="profile"
  </app-subscriber-card>
  }
  <div class="mt20 to-subscribers">
    <a
      [routerLink]="['/subscribers']"
      class="to-subscribers-link medium-text"
      >Все подписчики</a>
      <svg icon="arrow" class="to-subscribers-icon"></svg>
  </div>
} @else {Нет подписчиков}



