@use "fonts";

:root {
  --dark-color: black;
  --light-color: white;
  --primary-color: rgba(174, 122, 255, 1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;}

body {
  font-family: 'JetBrains Mono', 'sans-serif';
  background-color: var(--dark-color);
  color: var(--light-color);
  background-image: url("/assets/images/background.png");
}

.skill-tag {
  padding: 0px 8px;
  border-radius: 4px;
  border: 1px solid var(--light-color);
  display: inline;
  font-size: 12px;
  font-weight: 700;
  line-height: 24px;
  height: 24px;
  height: min-content;
}

.btn  {
  border: none;
  background-color: var(--primary-color);
  color: var(--dark-color);
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}

.h1 {
  font-size: 48px;
  line-height: 56px;
  font-weight: 800;
}

.h6 {
  color: var(--light-color);
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
}

.subtitle {
  color: var(--light-color);
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.tt-control-label {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
}

.tt-input {
  display: block;
  border: 1px solid var(--light-color);
  border-radius: 4px;
  padding: 20px 12px;
  background: var(--dark-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}
